body {
    margin: 0px;
}

#slider {
    float: left;
    width: 400px; /* Will be overridden by script */
    margin: 10px 20px;
    position: absolute;
}

#year {
    position: absolute;
    font-size: 48px;
    bottom: 20px;
    right: 20px;
}

.frame {
    stroke: #000;
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #B1B9BA;
    stroke: #fff;
}

.area {
    fill: #FFEECA;
}

.point {
    fill: #245dff;
}
