body {
    margin: 0px;
}

#slider {
    float: left;
    width: 400px; /* Will be overridden by script */
    margin: 10px 20px;
    position: absolute;
}

#year {
    position: absolute;
    font-size: 48px;
    bottom: 20px;
    right: 20px;
}

.frame {
    stroke: #000;
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #B1B9BA;
    stroke: #fff;
}

.area {
    fill: #FFEECA;
}

.point {
    fill: #245dff;
}

#text_container {
    display: none;
    position: absolute;
    z-index: 100;
    width: 50%;
    height: 90%;
    top: 2%;
    left: 2%;
    border-radius: 10px;
    border: 1px gray solid;
    padding: 10px;
    background-color: rgba(204,204,255,0.5);
}

#text_container .close {
    float: right;
    cursor: pointer;
}
